{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
<div>
    	<li class="nav-item">
                         <a class="nav-link" href="">Gümüş Kolye</a>
                    </li>
        <li class="nav-item">
                         <a class="nav-link" href="">Gümüş Yüzük</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="">Gümüş Küpe</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="">Gümüş Bileklik</a>
                    </li>
</div>
    </nav>
{% endblock %}