{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}

          <div>
        <h1>Kategoriler </h1>
        <p class="lead">Kategoriler</p>

    </div>
    
  
{% endblock %}