{% extends 'base.html.twig' %}

{% block title%} Articles {% endblock title %}

{% block body %}

  {% if articles %}
    <table class="table table-striped">
      
      <tbody>
        {%  for articles in articles %}
          <tr>
            <td>{{ articles.title }}</td>
            <td>
              <a href="/articles/{{ articles.id }}" class="btn btn-dark">Show</a>
            </td>
            <td>
              <a href="/articles/update/{{ articles.id }}" class="btn btn-info">Update</a>
            </td>
            <td>
              <a href="/articles/delete/{{ articles.id }}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Articles yok</p>
  {% endif %}

{% endblock %}