{% extends 'base.html.twig' %}

{% block body %}

  <div>
    <h1>Kayıt Sayfası</h1>

    {{ form_start(our_form) }}
    {{ form_widget(our_form) }}
    {{ form_end (our_form) }}
    
</div>
{% endblock %}
