{% extends 'base.html.twig' %}

{% block body %}
	

 	

  	<div>
  	 
    	<h1>Bu bizim Ana sayfamız</h1>
   		 

  	</div
  	>
 	<div class="logo"> <img  src="kolye.jpeg" width="300">
 		<h2>Gümüş Kolye</h2>
			<li>925 Ayar Gümüş</li>
 			<li>Ücretsiz Kargo</li>
 			<li>Aynı Gün Kargo</li>
 			<li>2 Yıl Garanti</li>
 			<li>Kapıda Ödeme Seçeneği</li>
			<a href="contact" class="btn">Sipariş </a>
	</div>
		
 	
 	
{% endblock %}